# Jekyll site
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/

# Logs
*.log

# Dependency directories
node_modules/

# Environment variables
.env

# OS specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace 