---
layout: default
title: Archive
---

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="archive-title">{{ page.title }}</h1>
            {% if page.description %}
                <div class="archive-description">{{ page.description }}</div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row listrecent">
        {% for post in page.posts %}
            {% include postbox.html %}
        {% endfor %}
    </div>
</div>

<div class="bottompagination">
    <div class="container">
        <div class="pointerup"><i class="fa fa-caret-up"></i></div>
        <span class="navigation" role="navigation">
            {% include pagination.html %}
        </span>
    </div>
</div> 